<div class="form-control mb-4" style="display: flex;
                                flex-direction: column;">
    <div id="confirm-check" style="display: flex;
                                   align-items: center;">
        <input style="width:fit-content;margin: revert;" type="checkbox" name="authorize_check_me" required
            id="email-me-check">
        <p
            style="margin-left: 10px;">
            I want to receive related communications from Palo Alto Networks and acknowledge their <a
                href="https://www.paloaltonetworks.com/legal-notices/privacy"
                style="text-decoration: none;color:rgb(133, 150, 176)">Privacy Statement </a>.

    </div>
</div>