<div class="content mb-4" style="display:flex;flex-direction:column">

    <p>By submitting, person agrees to companName
        processing their info and
        contacting them with regards to the event. You may unsubscribe at any time.
        companName web sites and communications are subject to their
        <a style="text-decoration: None;">Privacy Notice</a>.
        <br> <br>


        To comply with the new GDPR regulations and ensure you continue to receive
        relevant communications from companName on our offerings and future
        events, we are updating our communication preferences.
    </p>
    <div style="display:flex;align-items: center">
        <input style="width:fit-content;margin: revert;" type="checkbox" name="authorize_check_me" required=""
            id="email-me-check">

        <p style="margin-left: 10px; margin-top: 20px;margin-bottom: 0px;">
            Yes,
            I agree to the data
            protection declaration of Palo Alto Networks and or/it's affiliates.</p>

    </div>

</div>