<div
    style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
    Special second edition now available
</div>
<table border="0" cellpadding="0" cellspacing="0" class="main-wrapper" style="background-color: #f7f7f7; width: 100%;">
    <tbody>
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="primary-message-wrap"
                    style="width: 100%;">
                    <tbody>
                        <tr>
                            <td height="15">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; color: #666666; font-family: Arial, Helvetica, sans-serif;"
                                align="center">
                                <div style="text-align: center;"><span
                                        style="font-family: arial, helvetica, sans-serif; font-size: 11px; color: #888888;"><span
                                            style="color: #888888;"><a href="/new-and-improved-sase-for-dummies-mailer"
                                                style="color: #000; text-decoration: none;">View email in
                                                browser</a></span></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td height="15">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                        </tr>
                        <!-- /Hero --> <!-- Primary Content -->
                        <tr>
                            <td>
                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                    class="primary-content-wrap"
                                    style="border: 1px solid #e5e5e5; width: 640px; background: #FFFFFF;">
                                    <tbody>
                                        <tr>
                                            <td class="mobile-pad-btm20">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                    class="primary-content">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="205">
                                                                                <table>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="20">&nbsp;
                                                                                            </td>
                                                                                            <td><img src="/media/campaign/pan-8934/palo-alto-networks-logo.png"
                                                                                                    border="0"
                                                                                                    alt="Logo"
                                                                                                    width="250" />
                                                                                            </td>
                                                                                            <td width="20">&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td width="205">
                                                                                <table>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="120">&nbsp;
                                                                                            </td>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td height="50">&nbsp;
                                                                                            </td>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table bgcolor="#e3653c" cellpadding="0"
                                                                    cellspacing="0"><!-- HERO BANNER START -->
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><a
                                                                                    href="#"><img
                                                                                        src="/media/campaign/pan-8934/New-Improved-SASE-For-Dummies-Email-Banner.png"
                                                                                        border="0" alt="Hero Banner"
                                                                                        width="640" height="250" /></a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr
                                                                            style="background: #e3653c; margin: 0; padding: 0;">
                                                                            <td>
                                                                                <table bgcolor="#e3653c" cellpadding="0"
                                                                                    cellspacing="0"
                                                                                    style="width: 638px;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>&nbsp;</td>
                                                                                            <td
                                                                                                style="font-family: 'Lato', sans-serif; font-size: 26px; color: #ffffff; line-height: 26px; text-align: center;">
                                                                                                <a href="#"
                                                                                                    target="_blank"
                                                                                                    style="text-decoration: none; color: #ffffff;">
                                                                                                    title


                                                                                                </a>
                                                                                            </td>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <table bgcolor="#ffffff" cellpadding="0"
                                                                                    cellspacing="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="20">&nbsp;
                                                                                            </td>
                                                                                            <td>
                                                                                                <table cellpadding="0"
                                                                                                    cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>&nbsp;
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <table>
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>&nbsp;
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="font-family: 'Lato', sans-serif; font-size: 12px; color: #343434; line-height: 18px;"
                                                                                                                align="left"
                                                                                                                valign="top">
                                                                                                                <p>Content</p>
                                                                                                                <p>&nbsp;
                                                                                                                </p>

                                                                                                            </td>
                                                                                                            <td
                                                                                                                valign="top">
                                                                                                                <a
                                                                                                                    href="#"><img
                                                                                                                        src="/media/campaign/pan-8934/Download_button_black.jpg"
                                                                                                                        border="0"
                                                                                                                        alt="Download Button" /></a>
                                                                                                            </td>
                                                                                                        </tr>

                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <table
                                                                                                                    border="0"
                                                                                                                    cellpadding="0"
                                                                                                                    cellspacing="0"
                                                                                                                    style="border-radius: 5px; width: 150px; border-collapse: separate; background-color: #e3653c;">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td style="padding: 10px 0px;"
                                                                                                                                align="center"
                                                                                                                                valign="middle">
                                                                                                                                <a href="#"
                                                                                                                                    target="_blank"
                                                                                                                                    style="color: #ffffff; font-family: arial; font-size: 14px; line-height: 1.5; padding: 0px; display: block; text-decoration: none;">Download</a>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                            <td width="20">&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td width="20">&nbsp;
                                                                                            </td>
                                                                                            <td>

                                                                                            </td>
                                                                                            <td width="20">&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <!-- HERO BANNER END -->
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table bgcolor="#FFFFFF" border="0" cellpadding="0"
                                                                    cellspacing="0" style="background-color: #ffffff;">
                                                                    <!-- INTELLIGENT NEWS START -->
                                                                    <tbody>
                                                                        <table align="center" border="0" cellpadding="0"
                                                                            cellspacing="5"
                                                                            style="width: 100%; max-width: 620px;"
                                                                            dir="ltr">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="font-size: 11px; font-family: 'Lato', sans-serif; color: #343434;"
                                                                                        align="center">This email
                                                                                        was sent to .</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-size: 11px; font-family: 'Lato', sans-serif; color: #343434;"
                                                                                        align="center">Lynchpin
                                                                                        Media | 63/66 Hatton
                                                                                        Gardens, London EC1N 8LE
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-size: 11px; font-family: 'Lato', sans-serif; color: #666666;"
                                                                                        align="center"><a
                                                                                            href="http://lynchpin.moosend.com/unsubscribe/454cff35-6f90-4990-819e-b7ffb4b9c9e9/00000000-0000-0000-0000-000000000000/"
                                                                                            target="_blank"
                                                                                            style="font-size: 11px; font-family: 'Lato', sans-serif; color: #3778cd">
                                                                                            Click here to
                                                                                            unsubscribe</a> | <a
                                                                                            href="http://lynchpin.moosend.com/update/00000000-0000-0000-0000-000000000000/00000000-0000-0000-0000-000000000000"
                                                                                            target="_blank"
                                                                                            style="font-size: 11px; font-family: 'Lato', sans-serif; color: #3778cd">Update
                                                                                            your profile</a> | <a
                                                                                            href="http://lynchpinmedia.co.uk/privacy-policy/"
                                                                                            target="_blank"
                                                                                            style="font-size: 11px; font-family: 'Lato', sans-serif; color: #3778cd">Privacy
                                                                                            Policy</a></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>&nbsp;</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </tbody>
                                                                </table>
                                                                <!-- INTELLIGENT NEWS END -->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="15">&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="15">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>